body {
    font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
        "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
    margin: 0;
    text-align: center;
    color: #293c4b;
}

h1 {
    font-size: 30px;
}

img {
    margin: 20px 0;
    max-width: 200px;
}

.style-elements .showcase {
    border-width: thin;
    border-color: hsla(30, 80%, 44%, 1);
}

.style-elements .showcase .box {
    border-width: thin;
    border-color: hsla(176, 61%, 47%, 1);
}
.blinking-circle {
    --miyamoen-main-color: hsla(51, 100%, 50%, 1);
}

.blinking-ball {
    border-radius: 50%;
    background-color: var(--miyamoen-main-color);

    animation: blinking-ball 1s steps(var(--miyamoen-n))
        calc(var(--miyamoen-i) / var(--miyamoen-n) * 1s) infinite;
}

@keyframes blinking-ball {
    0% {
        filter: opacity(100%);
    }
    100% {
        filter: opacity(20%);
    }
}
